.helpfulwrap{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.helpcardwrapper{
    width: 40%;
    height: 70vh;
    display: flex;
    justify-content: center;
    background-color: #00bcd4; 
}

.innerhelpcard{
    width: 95%;
    height: 100%;
    margin-top: 15px;
    background-color: white;
}

.imageholder{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 70%;
        height: 200px;
        background-image: url(../../../../IMG/helpimage.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 70px;
    }
}

.helptext{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;

    p{
        font-size: 14px;
    }
}

.helpcontactcontainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    p{
        font-size: 14px;
    }
}

.helpbuttonwrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.helpbtn{
    width: 20%;
    height: 40px;
    background-color:  #00bcd4;
    border-radius: 15px;
    color: white;
    border: none;
}

.helpbtn:hover{
    cursor: pointer;
    background-color: #00bbd47c;
}
@media (max-width: 390px) {
    .helpfulwrap {
      width: 100%;
      margin-top: 20px;
      padding: 10px;
      box-sizing: border-box;
    }
  
    .helpcardwrapper {
      width: 98%;
      margin-top: 30px;
    }
  
    .imageholder {
      width: 100%;
      margin-top: 20px;
    }
  
    .helptext {
      h4 {
        font-size: 15px;
      }
  
      p {
        font-size: 13px;
      }
    }
  
    .helpcontactcontainer {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10px;
      gap: 10px;
    }

    
  
    .helpbtn {
      width: 100%;
      font-size: 14px;
      padding: 12px 0;
      margin-top: 60px;
      align-self: center;
    }
  }
  
  

@media (max-width: 480px) {
    .helpfulwrap{
        width: 100%;
        height: 100vh;
        margin-bottom: -200px;
        margin-top: 30px;
    }

    .helpcardwrapper{
        width: 96%;
        margin-top: 50px;
    }

    .imageholder{
        width: 100%;
    }

    .helptext{
        
        h4{
            font-size: 17px;
        }

        p{
            font-size: 13px;
        }
    }

    .helpcontactcontainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
    }

   

    .helpbtn{
        width: 90px;
        margin-top: 120px;
        font-size: 15px;
    }
    
}