.informationdetailcont {
  width: 96%;
  height: 600px;
  background-color: #00a5cf33;
  border: 1px solid #1E1E1E66;
  border-radius: 10px;
}

.profileform {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.inforcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    font-size: 16px;
    font-weight: 300;
  }
}

.containerwrap {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid gray;
  background: transparent;
  outline: none;
}

.containerwarpper {
  width: 50%;
  border-radius: 5px;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
  border: 1px solid gray;
  background: transparent;
  outline: none;
}

.origindetailswrap {
  width: 100%;
  height: 30%;
  display: flex;
  gap: 28px;
}

.localitycontwrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    font-size: 16px;
    font-weight: 300;
  }
}

.localityinputwrapper {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding-left: 11px;
  border-radius: 5px;
  border: 1px solid gray;
  background: transparent;
  outline: none;
}

.statecontwrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    font-size: 16px;
    font-weight: 300;
  }
}

.stateinputwrapper {
  width: 100%;
  height: 50px;
  font-size: 17px;
  padding-left: 11px;
  border-radius: 5px;
  border: 1px solid gray;
  background: transparent;
  outline: none;
}

.actionbtn {
  width: 100%;
  height: 270px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  
}


.actionbuttonwrapper1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;

  button{
    width: 90px;
    height: 40px;
    margin-top: 30px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid lightgray;
  }
}

.cancelbtn {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  margin-left: 90px;
  margin-top: 20px;
  border: 1px solid ;
  transition: all 250ms ease-in-out;
  font-weight: 600;
}

.cancelbtn:hover {
  cursor: pointer;
  background-color: #00bcd4;
  color: white;
}

.submitbtn {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  border: none;
  background-color: #00bcd4;
  transition: all 250ms ease-in-out;
  font-weight: 600;
}

.submitbtn:hover {
  cursor: pointer;
  background-color: #089db1ce;
  color: white;
}

.profileupload{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  

  h4{
    font-weight: 300;
  }
}


.imagefilebtncont{
    width: 160px;
    height: 40%;
    cursor: pointer;
}

@media (max-width: 500px) {
  .informationdetailcont{
    width: 370px;
    padding: 0px;
    margin: 0px;
  }

  .profileform{
    width: 100%;
  }

  .submitbtn{
    width: 50%;
    height: 40px;
    font-size: 13px;
  }

  .cancelbtn{
    width: 50px;
    height: 40px;
    margin-right: 40px;
    font-size: 13px;

  }

  .actionbuttonwrapper1{
    width: 60%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    

    button{
      width: 80px;
      height: 40px;
      border-radius: 15px;
      margin-top: 40px;
      margin-left: 20px;
      cursor: pointer;
      border: 2px solid lightgray;

    }
  }

  .profileupload{
    width: 30%;
   

    h4{
      font-size: 13px;
    }
  }
  
  .imagefilebtncont{
    width: 120px;
    height: 30px;
  }
}

