.listingMain {
    height: max-content;
    width: 100%;
    gap: 20px;
    padding: 10px;
}

.listingHeroWrapper {
    height: 65vh;
    width: 100%;
    background-image: url(../../../../IMG/cca9a1d1550941737e81ed9e4a8e0365.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.listingHero {
    height: 100%;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: white;
    padding-top: 20px;
}

.listingCardHolder {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.listingCardWraper {
    height: 100%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: auto;
    gap: 30px ;
}


@media screen and (max-width:360px) {
    .listingCardHolder {
        height: 70vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .listingCardWraper {
        height: 100%;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .listingHeroWrapper {
        height: 45vh;
        width: 100%;
        background-image: url(../../../../IMG/cca9a1d1550941737e81ed9e4a8e0365.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
 
@media screen and (max-width:500) {
    .listingCardHolder {
        height: 70vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .listingCardWraper {
        height: 100%;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .listingHeroWrapper {
        height: 45vh;
        width: 100%;
        background-image: url(../../../../IMG/cca9a1d1550941737e81ed9e4a8e0365.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
