.successcardwrapper{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.uploadOverlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(168, 165, 165, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(2px);
}

.inspectText{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00A5CF;
    padding: 10px; 
}

.inspectText:hover{
    cursor: pointer;
    color: white;
    background: #00A5CF;
    border-radius: 20px;
    font-weight: 600;
    transition: all 250ms ease-in-out;
}


.inspectBtn{
    height: 45px;
    width: 100%;
    background-color: #00A5CF;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.inspectBtn:disabled{
    background-color: #E6F2F5;
    color: #A0A0A0;
    cursor: not-allowed;
}

.inspectBtn:disabled:hover{
    background-color: #E6F2F5;
    color: #A0A0A0;
    cursor: not-allowed;
    border: none;
}

.inspectBtn:hover{
    background-color: white;
    color: #00A5CF;
    font-weight: 600;
    border: 1px solid #00A5CF;
    transition: all 250ms ease-in-out;
}
