.home {
  width: 100%;
  height: max-content;

  & .heroPage {
    width: 100%;
    height: 500px;
    background-image: url(../../../../IMG/Herropage.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;

    & h1 {
      font-size: 40px;
      font-weight: 700;
    }

    & h3 {
      font-size: 22px;
      font-weight: 700;
    }
  }

  & .aboutIc {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;

    & .partL {
      width: 10%;
      height: 60%;
      background-color: red;
    }
  }

  .properties {
    width: 100%;
    height: 500px;
    margin-top: 50px;

    & .HouseList {
      width: 100%;
      height: 70%;
      display: flex;
      align-items: center;
      overflow-y: hidden;

      & .houseWrap {
        width: max-content;
        height: 100%;
        display: flex;
        padding: 0 30px;
        gap: 20px;
        scroll-behavior: smooth;

        & .Houses {
          width: 650px;
          height: 100%;
          display: flex;
          flex-direction: column;
          background-color: white;
          border: 1px solid lightgray;
          gap: 30px;
          padding-top: 40px;
          cursor: pointer;

          & .houseDet {
            width: 100%;
            height: 70%;
            display: flex;
            gap: 20px;

            & .imgWrap {
              width: 47%;
              height: 100%;
              margin-left: 10px;
              overflow: hidden;

              & .Himg {
                width: 100%;
                height: 100%;
                cursor: pointer;

                & img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
            }

            & .Himg:hover {
              transform: scale(1.05);
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              transition: all 250ms ease-in-out;
            }

            & .Hdetails {
              width: 50%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: start;
              gap: 10px;

              & h3 {
                color: rgb(56, 168, 206);
                font-size: 25px;
              }

              & p {
                font-size: 16px;
                color: rgb(133, 130, 130);
              }

              & span {
                font-size: 25px;
                color: rgb(15, 120, 155);
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 5px;

                & p {
                  font-weight: 400;
                  font-size: 14px;
                }
              }
            }
          }

          & .apart {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;

            & .bed{
              width: 100%;
              display: flex;
              gap: 10px;
              padding-left: 10px;

              & p{
                font-size: 25px;
              }

              & span{
                width: 120px;
                display: flex;
                border-right: 1px solid lightgray;
                padding-top: 2px;
              }
            }

            & .icon{
              font-size: 40px;
              color: rgb(56, 168, 206);
              cursor: pointer;
              transform: rotate(47deg);
              transition: all 250ms ease-in-out;
              padding-right: 20px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }

  & .more {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    gap: 50px;
    margin-top: 100px;

    & .our {
      width: 100%;
      height: 90%;
      display: flex;
      background-color: lightgray;
      justify-content: space-between;

      & .houseImg {
        width: 47%;
        height: 100%;
        background-color: yellow;
        border-radius: 10px;
      }

      & .mission {
        width: 47%;
        height: 100%;
        background-color: green;
      }
    }
  }

  & .numbers {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    margin-top: 50px;
  }
}

.HouseList::-webkit-scrollbar {
  display: none;
}

.houseCards {
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid lightgray;
  gap: 30px;
  padding-top: 40px;
  border-radius: 10px;
  cursor: pointer;

  & .imgWrap {
    width: 90%;
    height: 60%;
    overflow: hidden;

    & .Himg {
      width: 100%;
      height: 100%;
      cursor: pointer;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  & .butt{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 30px;

    & .icon{
      font-size: 30px;
      color: rgb(56, 168, 206);
      cursor: pointer;
      transform: rotate(0deg);
      transition: all 250ms ease-in-out;
    }

    & .icon:hover{
      transform: rotate(47deg);
    }
  }

  & .Hdetails h3{
      color: rgb(56, 168, 206);
      font-size: 20px;
      text-align: center;
  }

  & .Himg:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 250ms ease-in-out;
  }
}
