.listingCardMain {
    min-height: 39vh;
    min-width: 40%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.listingCardContentHolder {
    height: 80%;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.listingPropertyImage {
    height: 95%;
    width: 45%;


    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.listingPropertyDetails {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    font-size: 15px;
}


.listingFooter {
    height: 20%;
    width: 100%;
    display: flex;
    background-color: #E2E7E2;
    align-items: center;
    gap: 10px;

    span {
        height: 100%;
        width: 20%;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.listingFooterContent {
    border-right: 1px solid black;
    height: 100%;
    width: 25%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}