.mainwrap {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 10px 30px;
}

.signupwrapper {
  width: 100%;
  /* height: 100vh; */
  display: flex;
}

.signupImageWrap {
  width: 60%;
  height: 96vh;

  img {
    width: 100%;
    height: 100%;
  }
}

.signupContainer {
  width: 60%;
  height: 96vh;
  padding: 10px 60px;
}

.signuptextwrap {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  h1 {
    font-size: 22px;
  }
}

.signupDetails {
  width: 100%;
  margin-top: 10px;

  & h1 {
    font-size: 20px;
  }
}

.signupformwrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.signupformwrap {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  h2 {
    font-size: 16px;
    font-weight: 400;
  }
}

.signupinputcont {
  width: 87%;
  height: 50px;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
  outline: none;
  border: 1px solid lightgray;
}

.btnwrap {
  width: 87%;
  height: 50px;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 10px;
  color: white;
  background-color: #00bcd4;
  border: none;
  transition: all 250ms ease-in-out;
}

.btnwrap:hover {
  cursor: pointer;
  background-color: white;
  color: #00bbd4a9;
  border: 1px solid #00bbd4a9;
}

.wrap {
  cursor: pointer;
}

.accountwrap {
  width: 90%;
  display: flex;
  gap: 10px;

  h3 {
    font-size: 15px;
    font-weight: 400;
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.signuppasswordmwrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  h2 {
    font-size: 16px;
    font-weight: 400;
  }
}

.signupemailformwrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  h2 {
    font-size: 16px;
    font-weight: 400;
  }
}

.usernameormwrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  h2 {
    font-size: 16px;
    font-weight: 400;
  }
}
