.mainbody {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageheader {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-bottom-right-radius: 80%;
  border-bottom-left-radius: 80%;
  background-color: #00bcd4;
  color: white;

  h1 {
    font-size: 30px;
  }
}

.forgotpasswordbody {
  width: 100%;
  height: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotpasswordtext {
  width: 100%;
  height: 30%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-left: 30px;
    font-size: 25px;
    font-family: sans-serif;
  }

  p {
    margin-left: 35px;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

.lasttext{
  margin-left: 50px;
}

.textwrapper {
  width: 30%;
  margin-left: 39%;

  
}

.resetformdetails {
  width: 90%;
  height: 60%;
  margin-left: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.resetinputcont {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  padding: 7px;
  border: 1px solid gray;
  outline: none;
}

.forgotpassworddetailwrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.continuebtn {
  width: 48%;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  background-color: #00bcd4;
  transition: all 250ms ease-in-out;
  margin-top: 10px;
  margin-left: 30px;
}

.continuebtn:hover {
    cursor: pointer;
    background-color: white;
    color: #00bbd4a9;
    border: 1px solid #00bbd4a9;
}

.continuebuttoncont1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-icon {
  position: absolute;
  top: 70%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

@media (max-width: 460px) {
  .forgotpasswordtext{
   
    h1{
      margin-right: 23px;
    }
    p{
      margin-right: 25px;
    }

    .lasttext{
      margin-right: 20px;
    }
  
  }

  .resetinputcont{
    width: 100%;
  }

  .pageheader{
    h1{
      font-size: 25px;
    }
  }

  .forgotpassworddetailwrapper{
    width: 200px;
  }

  .continuebuttoncont1{
    width: 105%;
    height: 40px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .continuebtn{
    width: 100%;
    height: 50px;
    margin-right: 20px;
  }

  .eye-icon {
    right: 5px;
    font-size: 16px;
  }
  
}


@media (max-width: 378px) {
  .mainbody {
    padding: 0px;
  }

  .fullpageheader {
    h1 {
      font-size: 16px;
    }
  }

  .forgotemailtext {
    width: 100%;
    height: auto;
    margin-top: 0px;

    h1 {
      font-size: 14px; 
    }

    p {
      margin-right: 3px;
    }
  }

  .forgotpassworddetailwrapper {
    width: 80%; 
    margin-right: 30px;
    padding: 0px;
  }

  .emailcont {
    width: 100%;
  }

  .resetemailbtn {
    width: 80%;
    margin-right: 20px;
  }

  .formdetailwrap {
    margin-top: 10px;
  }
}
